@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

:root {
  --orange: rgb(252, 112, 5);
  --orange-thin: rgba(252, 112, 5, 0.671);
  --orange-dim: rgba(252, 112, 5, 0.397);
}

body {
  margin: 0 10% 5% 10%;
  font-family: 'Underdog', cursive;
  color:var(--orange);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-image: linear-gradient(to right, red , yellow); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: linear-gradient(to right, red , yellow) !important;
} */

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  background: -webkit-linear-gradient(rgb(43, 64, 45),var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex {
  /* background-color: red; */
  display:flex;
  align-items: center;
  border-bottom: 1px solid var(--orange-thin) ;
  padding: .5rem 5%
}

.count {
  margin: .5rem 0 0 5% ;
  width:90vw;
  border-top: var(--orange-thin);
  border-bottom: var(--orange-thin);
}

h5 {
  /* margin-bottom: -10rem;
  z-index: 2; */
  margin: 0 5% 5% 0;
  color:var(--orange);
  /* background: -webkit-linear-gradient(var(--orange), rgb(43, 64, 45));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.btn__back, .btn__speed{
  width: 3rem;
  margin: 0 5% 0 0;
  background-color: var(--orange-thin);
  font-size: 2rem;
  border-radius: .5rem;
}

.speed {
  margin-right: 5%;
  padding:none;
}

.btn__auto__cycle {
  margin-right: 5%;
  width: 3rem;
  /* display: flex; */
  font-size: 2rem;
  margin-bottom:1rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(104, 252, 5, 0.397);
}



img {
  margin: 5% 5% 5% 5%;
  border-radius: 1rem;
  width: 50vh
}

/* .mb5 {
margin-bottom: 5%;
} */

@media only screen and (max-width: 768px) {
  /* body {
    background-color: lightblue;
  } */
  body {
    margin: 0 0 0 0;
  }

  img {
    max-width: 100;
  }
}
